* {
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;

}

.header {
    background: #051120;
}

body {
    background-color: rgb(0, 0, 33);
    color: rgb(239, 236, 236);
    font-family: 'poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 9rem;
    background-color: rgb(20, 15, 54);
}

nav ul {

    display: flex;
    justify-content: center;
}

nav ul li {

    list-style: none;
    margin: 0 2.3rem;
}

nav ul li a {
    text-decoration: none;
    color: white;
    display: inline-block;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
}

nav ul li a:hover {
    font-size: 1.03rem;
    box-shadow: 0 0 .5rem rgb(0, 34, 255),
        0 0 2.5rem rgb(0, 89, 255), 0 0 5rem rgb(102, 0, 255),
        0 0 10rem aqua, 0 0 20rem aqua;

}

.left {
    font-size: 2rem;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.firstsection {
    display: flex;
    justify-content: space-around;
    margin: 14rem 0;
}

.firstsection>div {
    width: 40%;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.leftsection {

    margin: auto;
    font-size: 3rem;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.rightsection {
    width: 3.4rem;
}

.rightsection img {
    width: 40rem;
    margin: 5rem;

    height: 40rem;
    border-radius: 50%;
    border: .7rem solid #0508aa;
    box-shadow: 0 0 .5rem rgb(0, 34, 255),
        0 0 2.5rem rgb(0, 89, 255), 0 0 5rem rgb(154, 25, 154),
        0 0 10rem rgb(183, 0, 255), 0 0 20rem rgb(106, 0, 255);

}

.purple {
    color: rgb(154, 25, 154);
    font-size: 5.6rem;
    font-family: italic;
}

#element {
    color: rgb(154, 25, 154);
    font-size: 6.2rem;
    font-family: italic;
}

.secondsection {
    margin: auto;
    max-width: 80vw;
    height: 70vh;
}

.secondsection h1 {
    font-size: 1.9rem;
}

.secondsection .horizontalline {
    background: white;
    width: 80vw;
    height: .2rem;
    margin: 5.6rem 0;
    display: flex;
}

.secondsection .verticalline {
    background: white;
    height: 6.9rem;
    width: .1rem;
    margin: 0 100px;

}

.image-top {
    width: 2.3rem;
}

.footer {
    background-color: rgb(32, 32, 40);
    display: flex;

    padding: 3.4rem 3rem;
    justify-content: space-evenly;
}

footer .text-center {
    text-align: center;
    color: gray;
    padding: 1.2rem;
}

.home-sci {
    color: rgb(71, 25, 117);
    font-size: 5rem;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s*var(--i));
}

.btn-box {
    color: rgb(106, 106, 201);
    font-size: 2.5rem;
    display: inline-block;
    padding: 1.2rem 2.8rem;
    background: #9c97f1;
    border-radius: 3.5rem;
    color: #181631;
    letter-spacing: .1rem;
    text-decoration: none;
    font-weight: 600;
    margin: auto;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s*var(--i));


}

.home-sci a:hover {
    color: aqua;
    font-size: 3.5rem;


}

.btn-box:hover {
    box-shadow: 0 0 .5rem rgb(0, 34, 255),
        0 0 2.5rem rgb(0, 89, 255), 0 0 5rem rgb(102, 0, 255),
        0 0 10rem aqua, 0 0 20rem aqua;

}

.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
}

.about-img img {

    max-width: 63rem;
    margin: 14rem 0;
    margin-left: 12rem;
    width: 43rem;
    height: 65rem;

    border: .7rem solid #0508aa;
    box-shadow: 0 0 .5rem rgb(0, 34, 255),
        0 0 2.5rem rgb(0, 89, 255), 0 0 5rem rgb(154, 25, 154),
        0 0 10rem rgb(183, 0, 255), 0 0 20rem rgb(106, 0, 255);

}

.about-text h2 {
    font-size: 6rem;
}

.about-text h2 span {
    color: aqua;
}

.about-text h4 {
    font-size: 2.9rem;
    font-weight: 600;
    color: #fff;
    line-height: 1.7;
    margin: 1.5rem 0 3rem;
}

.about-text p {
    color: #9c97f1;
    font-size: 2rem;
    line-height: 1.4;
    margin-bottom: 4rem;
}

#services {
    color: white;
    font-size: 2rem;
    line-height: 1.4;
    margin-bottom: 4rem;
}

.sub-title {
    text-align: center;
    font-size: 6rem;
    padding-bottom: 7rem;
}

.sub-title span {
    color: aqua;
}

.container {
    padding: 9rem;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25.9rem, 1fr));
    margin-top: 5rem;
}

.services-list div {
    background-color: transparent;
    padding: 4.5rem;
    font-size: 1.3rem;
    font-weight: 1.3rem;
    border-right: 1rem;
    border-radius: 2rem;
    transition: background 0.5s, transform 0.5s;
    box-shadow: .1rem .1rem 2rem blueviolet,
        .1rem .1rem 4rem cyan;

}

.services-list div i {
    font-size: 5rem;
    margin-bottom: 3rem;
}

.services-list div h2 {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
}

.services-list div a {
    text-decoration: none;
    color: aliceblue;
    font-size: 1.2rem;
    margin-top: 2rem;
    display: inline-block;
}

.read {
    display: inline-block;
    padding: 1.2rem 2.8rem;
    background: #0508aa;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #181631;
    letter-spacing: .1rem;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 .5rem cornflowerblue,
        0 0 2.5rem blueviolet;
}
.read:hover{
    box-shadow: 0 0 .5rem rgb(0, 34, 255),
    0 0 2.5rem rgb(0, 89, 255), 0 0 5rem  rgb(154, 25, 154),
    0 0 10rem rgb(183, 0, 255), 0 0 20rem rgb(106, 0, 255);


}

.services-list div:hover {
    transform: translateY(-1.5rem);
}

.main-text {
    padding-top: 13rem;
    margin-top: 20rem;
}

.main-text h2 {
    font-size: 6rem;
    line-height: 5;
    text-align: center;
}

.main-text h2 span {
    color: aqua;
}

.portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35.9rem, auto));
}

.row {
    position: relative;
    overflow: hidden;
    border-radius: .8rem;
    cursor: pointer;
}

.row img {
    width: 100%;
    border-radius: .8rem;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.1), cyan);
    position: absolute;
    border-radius: .8rem;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 4.8rem;
    transition: height 0.5s;

}

.layer h4 {
    color:white;
    font-size: 1.5rem;
    font-style: bold;
    font-weight: 60;
    margin-bottom: 1rem;
}

.layer p {
    color: white;
    font-size: 1rem;
    line-height: 1.5;
}

.layer i {
    color: red;
    margin-top: 2rem;
    font-size: 2rem;
    border: #fff;
    width: 6rem;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.row:hover img {
    transform: scale(1.1);
}

.row:hover .layer {
    height: 90%;
}
.contact{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 3rem;
    padding-left: 3rem;
    margin-top: 13rem;
}
.contact-text h2{
    font-size: 9rem;
    line-height: 1;
    text-align: center;

}
.contact-text h2 span{
    color: cyan;
}
.contact-text h4{
    margin: 1.5rem 0;
    color: aqua;
    font-size: 2rem;
    font-weight: 600;
}
.contact-text p{
    color: #fff;
    font-size: 2rem;
    line-height: 3rem;
    margin-bottom: 2rem;
}
.contact-list{
    margin-bottom: 3rem;
}
.contact-list li{
    margin-bottom: 1rem;
    display: block;
}
.contact-list i{
    display: inline-block;
    color: cyan;
    font-size: 2rem;
    font-weight: 600;
    transition: all.40s ease;

}
.contact-list li a:hover{
    transform: scale(1.01) translateY(-0.5rem);
    color: aqua;
}
.contact-icons i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid cyan;
    border-radius: 50%;
    font-size: 2rem;
    color: aqua;
    text-decoration: none;
    margin: 3rem 1.5rem 30rem 0;
    transition:  .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay:  calc(.2s*var(--i));
}
.contact-icons i:hover{
    background: #9c97f1;
    color: #051120;
    box-shadow:  0 0 2rem cyan;
}
.contact-form form{
    position: relative;
}

.contact-form form input,form textarea{
    border: none;
    outline: none;
    width: 90%;
    padding: 1.8rem;
    background: white;
    color: #010204;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}
.contact-form textarea{
    resize: none;
    height: 22rem;
}

.contact-form form .send{

    display: inline-block;
    padding: 1.2rem 2.8rem;
    background: rgb(72, 39, 163);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: white;
    letter-spacing: .1rem;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 .5rem blueviolet,
        0 0 2.5rem rgb(67, 37, 95);
}
.contact-form form .send:hover{
    box-shadow: 0 0 .5rem rgb(0, 34, 255),
    0 0 2.5rem rgb(0, 89, 255), 0 0 5rem rgb(154, 25, 154),
    0 0 10rem rgb(183, 0, 255), 0 0 20rem rgb(106, 0, 255);


}
@keyframes slideRight {
    0% {
        transform: translateX(-10rem);
        opacity: 0;
    }

    100% {
        transform: translateX(0rem);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(10rem);
        opacity: 0;
    }

    100% {
        transform: translateX(0rem);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(1orem);
        opacity: 0;
    }

    100% {
        transform: translateY(0rem);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-10rem);
        opacity: 0;
    }

    100% {
        transform: translateY(0rem);
        opacity: 1;
    }
}
@media(max-width:998px){
    html{
          font-size:55%;
    }
}
@media(max-width:768px){
      html{
        font-size: 45%;
      }
    }
    @media(max-width:468px){
        html{
          font-size: 25%;
        }
      }
  
